.post {
    display: flex;
    background: var(--color-foreground);
    box-shadow: var(--box-shadow);
    margin-bottom: var(--spacing-4);
    border-radius: var(--radius);
    padding: var(--spacing-3);
    transition: box-shadow 0.1s ease-in;
    color: var(--color-text-secondary);
    flex-direction: column;
}

.tagLine {
        display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0;
}

.userName {
    padding-top: 1rem;
}

.tags {
    display: flex;
    gap: 10px;
}